<h1>Dad doesn't like Chalazion at all!</h1>
<h2>It sucks</h2>
<h3>Waiting for it become hard so as to get it operated and removed</h3>
<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>